body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url('./bg.png') no-repeat fixed 50%;
    background-size: cover;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    margin: 2rem auto;
    padding: 4rem 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, rgba(103, 58, 183, 1) 14%, rgba(88, 9, 121, 1) 87%);
    -webkit-box-shadow: 3px 3px 50px 13px rgb(96 36 156);
    box-shadow: 3px 3px 50px 13px rgb(96 36 156);
}